<app-navbar (sidebarStatus)="toggleSidebar($event)"></app-navbar>
<mat-drawer-container class="container">
    <mat-drawer #drawer mode="side" [opened]="sidebarStatus">
        <div class="main-menu">
            <a mat-button routerLink="">Dashboard</a>
            <h3>Employee</h3>
            <a mat-button routerLink="employees">Employee List</a>
            <a mat-button routerLink="users">User List</a>
            <a mat-button routerLink="levels">Level List</a>
            <h3>Hospital Activities</h3>
            <a mat-button routerLink="records">Record List</a>
            <a mat-button routerLink="toolkits">Toolkit List</a>
            <a mat-button routerLink="patients">Patient List</a>
            <h3>System</h3>
            <a mat-button routerLink="logs">Log Activities</a>
            <a mat-button routerLink="emails">Email List</a>
            <h3>Report</h3>
            <a mat-button routerLink="reports">Overview</a>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>