<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Table</title>
</head>

<body>
  <app-navbar></app-navbar>
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side">
      <div class="main-menu">
        <a mat-button routerLink="">Dashboard</a>
        <h3>Manager</h3>
        <a mat-button routerLink="employee-list">Employee List</a>
        <a mat-button>Appointment List</a>
        <a mat-button routerLink="toolkit-list">Toolkit List</a>
        <a mat-button>Patient List</a>
        <a mat-button routerLink="level-list">Level List</a>
        <h3>System</h3>
        <a mat-button>User List</a>
        <a mat-button>Log Activities</a>
        <a mat-button>Email List</a>
        <h3>Report</h3>
        <a mat-button>Overview</a>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="example-button-container">
        <button mat-mini-fab mat-raised-button (click)="drawer.toggle()" color="primary"
          aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</body>

</html>