<div class="dialog-wrapper">
    <h2 mat-dialog-title>Add New Employee</h2>
    <mat-dialog-content class="mat-typography">
        <div [formGroup]="employeeForm">
            <div class="container">
                <mat-form-field appearance="fill">
                    <mat-label>First Name*</mat-label>
                    <input matInput placeholder="First Name" formControlName="firstName">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Last Name*</mat-label>
                    <input matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>
            </div>
            <div class="container">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email*</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required>
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Employee Level*</mat-label>
                    <mat-select formControlName="levelId">
                        <mat-option *ngFor="let level of levels" value="level.id">{{level.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="container">
                <h3>Description</h3>
                <quill-editor #editor formControlName="description" placeholder="Enter Text" [modules]="quillConfig"
                    format="html">
                </quill-editor>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
</div>