.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.button {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 1;
}

.title-right {
    display: flex;
    align-items: center;
}

.title-left {
    display: flex;
    justify-content: space-between;
}

.action-row button {
    margin: 0 2px;
}